
@font-face {
  font-family: 'iconfont';  /* project id 325964 */
  src: url('//at.alicdn.com/t/font_dr2kze2tr8qnz5mi.eot');
  src: url('//at.alicdn.com/t/font_dr2kze2tr8qnz5mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_dr2kze2tr8qnz5mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_dr2kze2tr8qnz5mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_dr2kze2tr8qnz5mi.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal; 
}


#app {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #eee; 
}

/*页眉*/
header {
  width: 100%; 
  height: 1.0rem;
  position: relative;
  font-size: 0.4rem;
}

header ul{
  width: 100%;
  height: 1.07rem;
  background-color: #fe5400;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0.25em;
  justify-content: space-between;
}
header ul >.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.55rem;
  font-style: normal; 
  color: #fff;
  padding-right: 0.1rem;
}
header ul .search-input {
  font-size: 0.4rem;
  height: 0.67rem;
  border-radius: 0.1rem;
  flex-grow: 1;
  background-color: #b52600;
  display: flex;
  justify-content: center;
}
header ul .search-input .iconfont { 
  font-family: "iconfont" !important;
  font-size: 0.45rem;
  font-style: normal; 
  color: #fff;
  margin: 0.08rem;
}
header ul .search-input input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0.35rem;
  padding: 0.08rem;
}
header ul .search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #f0e0dc; 
}

header ul .search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #f0e0dc;
}

header ul .search-input input:-ms-input-placeholder {
  color: #f0e0dc;
}

header ul .search-input input::-webkit-input-placeholder {
  color: #f0e0dc;
}

/*main*/
main {
  width: 100%;
  max-width: 10rem;
  position: relative;
  margin: 0 auto;
}
main section {
  margin-bottom: 0.16rem;
  position: relative;
}
/*main part1*/
main .part1 {
  height: 8.72rem;
  background-color: #fff;
}
main .part1 .top {
  width: 100%;
  height: 3.14rem;
  position: relative; 
}
main .part1 .top .carousel-imgs {
  width: 100%; 
  height: 100%;
}
main .part1 .top a img {
  width: 100%;
  height: 100%;
}
main .part1 .top .carousel-nav {
  position: absolute;
  bottom: 0.2rem;
  right: 0.1rem;
  display: -webkit-flex;
  display: flex;
}
main .part1 .top .carousel-nav li {
  width: 0.15rem;
  height: 0.15rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 0.05rem;
  background-color: #ccc;
}
main .part1 .top .carousel-nav li.active {
  background-color: #fe5400;
}

main .part1 .middle {
  width: 100%;
  height: 4.56rem;
  position: relative; 
  background-color: #fff;
  font-size: 0.33rem;
}
main .part1 .middle .nav {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  padding: 0.35rem 0.4rem;
}
main .part1 .middle .nav li {
  width: 1.65rem;
  height: 1.65rem;
  margin: 0 0.05rem;
}
main .part1 .middle .nav a {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}
main .part1 .middle .nav a img {
  width: 100%;
}
main .part1 .middle span {
  color: rgb(102,102,102);
}

main .part1 .bottom {
  width: 100%;
  height: 1.01rem;
  position: relative;
  border-top: 1px solid rgb(232,232,232);  
  background-color: #fff;
}
main .part1 .bottom ul {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

main .part1 .bottom .taobao {
  display: block;
  border-right: 1px solid rgb(232,232,232);
  width: 2.13rem;
  height: 1.01rem;
  background: url('../images/part1/bottom/1.png')center center/1.61rem 0.45rem no-repeat;
}
main .part1 .bottom .title {
  display: block;
  border: 1px solid #da0d15;
  border-radius: 0.125rem;
  color: #da0d15;
  font-size: 0.4rem;
  margin: 0.125rem 0.156rem 0.125rem 0.281rem;
  padding: 0 0.0625rem;
}
main .part1 .bottom .explain {
  display: block;
  font-size: 0.4rem;
  color: rgb(53,53,53);
  text-align: center;
}

/*main part2*/
main .part2 {
  width: 100%;
  height: 5.04rem;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
}
main .part2 .side-left {
  width: 3.84rem;
  height: 100%;
}
main .part2 .side-left a {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../images/part2/1.jpg");
  background-size: contain;
  background-repeat: no-repeat;  
}
main .part2 .side-right {
  width: 6.21rem;
  height: 5.04rem;
  border-left: 1px solid rgb(232,232,232);
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
main .part2 .side-right .child {
  width: 50%;
  height: 50%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
main .part2 .side-right .child1 { 
  background-image: url("../images/part2/2.jpg");
  border-bottom: 1px solid rgb(232,232,232); 
}
main .part2 .side-right .child2 {
  background-image: url("../images/part2/3.png");
  border-bottom: 1px solid rgb(232,232,232);
}
main .part2 .side-right .child3 {
  background-image: url("../images/part2/4.jpg");
  border-right: 1px solid rgb(232,232,232);
}
main .part2 .side-right .child4 {
  background-image: url("../images/part2/5.png");
}

/*main part3*/
main .part3 {
  width: 100%;
  height: 6.747rem;
  background-color: #fff;
}
main .part3 .header {
  width: 100%;
  height: 0.88rem;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(232,232,232);
}
main .part3 .header>div {
  width: 0.4222rem;
  height: 0.88rem;
  margin-top: 0.45rem;
  background-image: url("../images/part3/0.png");
  background-size: contain;
  background-repeat: no-repeat; 
}
main .part3 .header p {
  line-height: 0.88rem; 
  color: rgb(255, 53, 14);
  margin-left: 0.1rem;
  font-size: 0.4rem;
}
main .part3 .main {
  width: 100%;
  height: 5.867rem;
  display: -webkit-flex;
  display: flex;
}
main .part3 .side-left {
  width: 3.867rem;
  height: 100%;
}
main .part3 .side-left .child {
  width: 100%;
  height: 50%;
  display: block;
  border-bottom: 1px solid rgb(232,232,232);
  background-size: contain;
  background-repeat: no-repeat;
}
main .part3 .side-left .child1 {
  background-image: url("../images/part3/1.jpg");
}
main .part3 .side-left .child2 {
  background-image: url("../images/part3/2.png");
}
main .part3 .side-right {
  width: 6.213rem;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .part3 .side-right .child {
  width: 33.3%;
  height: 50%;
  display: block;
  border-bottom: 1px solid rgb(232,232,232);
  border-left: 1px solid rgb(232,232,232);
  background-size: contain;
  background-repeat: no-repeat;
}
main .part3 .side-right .child1 {
  background-image: url("../images/part3/3.png");
}
main .part3 .side-right .child2 {
  background-image: url("../images/part3/4.png");
}
main .part3 .side-right .child3 {
  background-image: url("../images/part3/5.jpg");
}
main .part3 .side-right .child4 {
  background-image: url("../images/part3/6.jpg");
}
main .part3 .side-right .child5 {
  background-image: url("../images/part3/7.jpg");
}
main .part3 .side-right .child6 {
  background-image: url("../images/part3/8.png");
}

/*main part4*/
main .part4 {
  width: 100%;
  height: 6.747rem;
  background-color: #fff;
}
main .part4 .header {
  width: 100%;
  height: 0.88rem;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(232,232,232);
}
main .part4 .header>div {
  width: 0.4222rem;
  height: 0.88rem;
  margin-top: 0.45rem;
  background-image: url("../images/part4/0.png");
  background-size: contain;
  background-repeat: no-repeat; 
}
main .part4 .header p {
  line-height: 0.88rem; 
  color: rgb(255, 53, 14);
  margin-left: 0.1rem;
  font-size: 0.4rem;
}
main .part4 .main {
  width: 100%;
  height: 5.867rem;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
main .part4 .top {
  width: 100%;
  height: 50%;
  display: -webkit-flex;
  display: flex;
}
main .part4 .top .child {
  width: 50%;
  display: block;
  border-bottom: 1px solid rgb(232,232,232);
  background-size: contain;
  background-repeat: no-repeat;
}
main .part4 .top .child1 {
  background-image: url("../images/part4/1.png");
  border-right: 1px solid rgb(232,232,232);
}
main .part4 .top .child2 {
  background-image: url("../images/part4/2.png");
}
main .part4 .bottom {
  width: 100%;
  height: 50%;
  display: -webkit-flex;
  display: flex;
}
main .part4 .bottom .child {
  width: 25%;
  height: 100%;
  display: block;
  border-right: 1px solid rgb(232,232,232);
  background-size: contain;
  background-repeat: no-repeat;
}

main .part4 .bottom .child1 {
  background-image: url("../images/part4/3.png");
}
main .part4 .bottom .child2 {
  background-image: url("../images/part4/4.jpg");
}
main .part4 .bottom .child3 {
  background-image: url("../images/part4/5.jpg");
}
main .part4 .bottom .child4 {
  background-image: url("../images/part4/6.jpg");
  border: none;
}

/*main part5*/
main .part5 {
  width: 100%;
  height: 9.68rem;
  background-color: #fff;
}
main .part5 .header {
  width: 100%;
  height: 0.88rem;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(232,232,232);
}
main .part5 .header>div {
  width: 0.4222rem;
  height: 0.88rem;
  margin-top: 0.45rem;
  background-image: url("../images/part5/0.png");
  background-size: contain;
  background-repeat: no-repeat; 
}
main .part5 .header p {
  line-height: 0.88rem; 
  color: rgb(255, 53, 14);
  margin-left: 0.1rem;
  font-size: 0.4rem;
}
main .part5 .main {
  width: 100%;
  height: 5.867rem;
  display: -webkit-flex;
  display: flex;
}
main .part5 .side-left {
  width: 3.867rem;
  height: 100%;
}
main .part5 .side-left .child {
  width: 100%;
  height: 50%;
  display: block;
  border-bottom: 1px solid rgb(232,232,232);
  background-size: contain;
  background-repeat: no-repeat;
}
main .part5 .side-left .child1 {
  background-image: url("../images/part5/1.png");
}
main .part5 .side-left .child2 {
  background-image: url("../images/part5/2.png");
}
main .part5 .side-right {
  width: 6.213rem;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .part5 .side-right .child {
  width: 33.3%;
  height: 50%;
  display: block;
  border-bottom: 1px solid rgb(232,232,232);
  border-left: 1px solid rgb(232,232,232);
  background-size: contain;
  background-repeat: no-repeat;
}
main .part5 .side-right .child1 {
  background-image: url("../images/part5/3.png");
}
main .part5 .side-right .child2 {
  background-image: url("../images/part5/4.png");
}
main .part5 .side-right .child3 {
  background-image: url("../images/part5/5.png");
}
main .part5 .side-right .child4 {
  background-image: url("../images/part5/6.png");
}
main .part5 .side-right .child5 {
  background-image: url("../images/part5/7.png");
}
main .part5 .side-right .child6 {
  background-image: url("../images/part5/8.png");
}
main .part5 .footer {
  width: 100%;
  height: 2.933rem;
}
main .part5 .footer div:first-child {
  width: 100%;
  height: 0.907rem;
  background-image: url("../images/part5/9.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
main .part5 .footer div:last-child {
  width: 100%;
  height: 2.027rem;
  background-image: url("../images/part5/10.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/*main part6*/
main .part6 {
  width: 100%; 
  background-color: #fff;
}
main .part6 .header {
  width: 100%;
  height: 0.88rem;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(232,232,232);
}
main .part6 .header>div {
  width: 0.4222rem;
  height: 0.88rem;
  margin-top: 0.45rem;
  background-image: url("../images/part6/0.png");
  background-size: contain;
  background-repeat: no-repeat; 
}
main .part6 .header p {
  line-height: 0.88rem; 
  color: rgb(255, 53, 14);
  margin-left: 0.1rem;
  font-size: 0.4rem;
}
main .part6 .header .more {
  color: #000;
  float: right;
}
main .part6 .header .more span {
  color: rgb(255, 53, 14); 
}
main .part6 .main {
  width: 100%;
  height: 11.387rem;
}
main .part6 .main .top {
  height: 2.907rem;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
main .part6 .main .top .child {
  width: 25%;
  height: 100%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(232,232,232);
  border-right: 1px solid rgb(232,232,232);
}
main .part6 .top .child1 {
  background-image: url("../images/part6/1.jpg");
}
main .part6 .top .child2 {
  background-image: url("../images/part6/2.jpg");
}
main .part6 .top .child3 {
  background-image: url("../images/part6/3.jpg");
}
main .part6 .top .child4 {
  background-image: url("../images/part6/4.jpg");
  border-right: none;
}
main .part6 .main .bottom {
  height: 8.48rem;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .part6 .main .bottom .child {
  width: 50%;
  height: 33.3%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(232,232,232);
  border-right: 1px solid rgb(232,232,232);
}
main .part6 .main .bottom .child:nth-child(even) {
  border-right: none;
}
main .part6 .bottom .child1 {
  background-image: url("../images/part6/5.jpg");
}
main .part6 .bottom .child2 {
  background-image: url("../images/part6/6.jpg");
}
main .part6 .bottom .child3 {
  background-image: url("../images/part6/7.jpg");
}
main .part6 .bottom .child4 {
  background-image: url("../images/part6/8.jpg");
}
main .part6 .bottom .child5 {
  background-image: url("../images/part6/9.jpg");
}
main .part6 .bottom .child6 {
  background-image: url("../images/part6/10.jpg");
}
main .part6 .footer {
  height: 2.027rem;
  background-image: url("../images/part6/11.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/*main part7*/
main .part7 {
  height: 5.333rem;
  background-color: #fff;
}
main .part7 .header {
  height: 1.01rem;
  border-bottom: 1px solid rgb(232,232,232);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  color: rgb(34,34,34);
  font-size: 0.45rem;
}
main .part7 .header .side-left {
  width: 0.16rem;
  height: 100%;
  background-color: #ff9b43;
  margin: 0;
  padding: 0;
}
main .part7 .header .side-middle {
  width: 4.693rem;
  height: 0.933rem;
  padding: 0 0 0 0.213rem;
  line-height: 0.933rem;
}
main .part7 .header .side-right {
  width: 5.04rem;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main .part7 .header .side-right span {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  color: #fff;
  background-color: #ff4400;
  margin: 0 0.213rem;
  line-height: 0.35rem;
  font-size: 40px;
}
main .part7 .main {
  width: 100%;
  font-size: 0.4rem;
}
main .part7 .main .side-left,
main .part7 .main .side-right {
  width: 4.72rem;
  height: 3.813rem; 
}
main .part7 .main .side-left {
  float: left;
  margin: 0.186rem 0 0 0.186rem; 
}
main .part7 .main .side-right {
 float: right;
 margin: 0.186rem 0.186rem 0 0;
}
main .part7 .main::after {
  content: '';
  display: block;
  clear: both;
}
main .part7 .main .side-left>div,
main .part7 .main .side-right>div {
  width: 100%;
  height: 3.227rem;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
main .part7 .main .side-left .child1,
main .part7 .main .side-right .child1 {
  width: 3.173rem;
  height: 100%;
  margin-right: 0.095rem;  
  background-size: contain;
  background-repeat: no-repeat;
}
main .part7 .main .side-left .child1 {
  background-image: url("../images/part7/1.jpg");
}
main .part7 .main .side-right .child1 {
  background-image: url("../images/part7/4.jpg");
}
main .part7 .main .side-left .child2,
main .part7 .main .side-right .child2 {
  width: 1.6rem;
  height: 96%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .part7 .main .side-left .child2 .child2-1,
main .part7 .main .side-left .child2 .child2-2,
main .part7 .main .side-right .child2 .child2-1,
main .part7 .main .side-right .child2 .child2-2 {
  width: 100%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

main .part7 .main .side-left .child2 .child2-1 {
  background-image: url("../images/part7/2.jpg");
}
main .part7 .main .side-left .child2 .child2-2 {
  background-image: url("../images/part7/3.jpg");
  margin-top: 0.053rem;
}
main .part7 .main .side-right .child2 .child2-1 {
  background-image: url("../images/part7/5.jpg");
}
main .part7 .main .side-right .child2 .child2-2 {
  background-image: url("../images/part7/6.jpg");
  margin-top: 0.053rem;
}
main .part7 .footer {
  width: 100%;
  height: 0.426rem;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
main .part7 .footer div {
  width: 0.267rem;
  height: 0.267rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 0.1rem 0 0.1rem;
}
main .part7 .footer .active {
  background-color: #ff5501;
}

/*main part8*/
main .part8 {
  width: 100%;
  margin: 0;
  padding: 0;
}
main .part8 .header {
  height: 1.493rem;  
}
main .part8 .header .title {
  width: 100%;
  height: 0.88rem;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .part8 .header .title>div {
  width: 0.5222rem;
  height: 0.98rem;
  margin-top: 0.45rem;
  background-image: url("../images/part8/0.png");
  background-size: contain;
  background-repeat: no-repeat; 
}
main .part8 .header .title p {
  font-size: 0.4rem;
  margin-left: 0.2rem;
  font-weight: bold;
}
main .part8 .header > p{
  text-align: center;
  font-size: 0.35rem;
}
main .part8 .main {
  width: 100%;
}
main .part8 .main ul {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .part8 .main ul li {
  width: 50%;
  height: 6.667rem; 
}
main .part8 .main a {
  display: block;
  width: 100%;
  height: 100%;
  
  background-size: contain;
  background-repeat: no-repeat; 
}
main .part8 .main .key1 {
  background-image: url("../images/part8/1.jpg");
}
main .part8 .main .key2 {
  background-image: url("../images/part8/2.jpg");
}
main .part8 .main .key3 {
  background-image: url("../images/part8/3.jpg");
}
main .part8 .main .key4 {
  background-image: url("../images/part8/4.jpg");
}
main .part8 .main .key5 {
  background-image: url("../images/part8/5.jpg");
}
main .part8 .main .key6 {
  background-image: url("../images/part8/6.jpg");
}
main .part8 .main .key7 {
  background-image: url("../images/part8/7.jpg");
}
main .part8 .main .key8 {
  background-image: url("../images/part8/8.jpg");
}


/*footer*/
footer {
  width: 100%;
  height: 1.6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 12;
  font-size: 0.45rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
footer .nav-link {
  font-size: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  margin: 0 0.3rem;
}
footer .iconfont {
  font-family: "iconfont" !important;
  font-size: 0.55rem;
  font-style: normal; 
  color: #000;
}




